{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'chirala-clinic/images/Dhrithi health care logo.jpg' %}" type="">

  <title> chirala-clinic </title>
  <!-- <link href="img/favicon.ico" rel="icon"> -->
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'chirala-clinic/css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="{% static 'chirala-clinic/css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'chirala-clinic/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'chirala-clinic/css/responsive.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <img src="{% static 'chirala-clinic/images/dhruthi-clinic-main-banner-image-1400x641.png' %}" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container d-flex justify-content-center aligen-item-center ">
          <a class="navbar-brand " href="/">
            <span class="">
             <img src="{% static 'chirala-clinic/images/Dhrithi health care logo.jpg' %}" height="80px" alt="" style="border-radius: 6px;">
            </span>
          </a>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h3 style="color: #fff;font-size:3.5em;font-weight: 600;">
                      We care about your health 
                    </h3>
                    <p style="font-size: 20px;">We dedicate ourselves to providing you with quality 
                      care that focuses on prevention and mitigation of disease, so you live a longer, healthier life
                    </p>
                    <div class="btn-box">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h3 style="color: #fff;font-size:3.5em;font-weight: 600;">
                      We provide Best Healthcare
                    </h3 >
                    <p style="font-size: 20px;">
                      dhruthi Health Care is dedicated to providing the best possible healthcare to our patients. Our staff of highly qualified professionals offers services tailored to meet each individual's 
                      needs, including diagnosis and treatment for a wide range of health conditions.
                    </p>
                    <div class="btn-box">
                      <!-- <a href="" class="btn1">
                        Read More
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h3 style="color: #fff;font-size:3.5em;font-weight: 600;">
                      We Healping Your Stay Happy health
                    </h3>
                    <p style="font-size: 20px;">
                      dhruthi health care is dedicated to helping you stay happy and healthy. We understand that staying healthy means more than just getting regular exercise and eating right; it means feeling confident in your body, mind, and spirit. Our mission is to provide you with the tools and resources necessary to maintain a positive outlook on life. Our service begins by offering 
                      regular check-ups and vaccines so that you can remain in optimal physical health.
                    </p>
                    <div class="btn-box">
                      <!-- <a href="" class="btn1">
                        Read More
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  

  <!-- about section -->

  <section class="about_section layout_margin-bottom" id="about">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 order-sm-last order-lg-first">
          <div class="img-box">
            <img src="{% static 'chirala-clinic/images/dhruthi-health-care-about-img-616x211.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 order-sm-first order-lg-last">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style="color: #006B94;">
                About <span>Us</span>
              </h2>
            </div>
            <p style="text-align: justify; font-weight:800; color:#043d50">
                Dhruthi Super Specialty Clinics is a new state-of-the-art medical facility in Chirala. It was opened and run by a special team of doctors that specialize in different departments including (General Medicine, Cardiology, Neurology, Urology, Orthopedics and Gastroenterology. With highly experienced specialized doctors who are dedicated to delivering the highest levels of personalized service, this exceptional speciality clinic truly sets the bar in specialized medical care. Dhruthi Super Specialty Clinics is providing high quality and advanced medical care to the citizens of Chirala.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  <!-- why choose section -->

  <section class="about_section layout_margin-bottom" id="about" style="background-color: azure; padding-top:80px; padding-bottom:80px;">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2 style="color: #006B94;">
                  Why Choose <span>Us</span>
                </h2>
              </div>
              <p style="text-align: justify; font-weight:800; color:#043d50">
                We provide quality medical care and special treatment in the Chirala region. Our team of highly qualified special doctors has over 10 to 20 years of experience specializing in medical diseases and conditions, offering a variety of treatments to suit your individual needs. We strive to provide a personalized service that caters to all our patients’ requirements. With an emphasis on compassion and care we are committed to giving our patients quality healthcare in a safe environment where they can feel comfortable sharing their health concerns with us.
              </p>
              <!-- <a href="">
                Read More
              </a> -->
            </div>
          </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'chirala-clinic/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- end why choose section -->


  <!-- department section -->

  <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2 style="color: #006B94;">
            Our Services
          </h2>
          <p style="font-weight:800; color:#043d50">
            We Provide Best Healthcare services
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'chirala-clinic/images/dhruthi-health-care-service-icon-50x50.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    General Medicine
                </h5>
                <p>
                  Deals with the diagnosis and nonsurgical treatment of diseases of the internal organs. Here you will find the causes, symptoms, diagnosis and treatment of a huge range of disorders affecting every part of the body.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'chirala-clinic/images/dhruthi-health-care-neurology-service-icon-50x50.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    Neurology
                </h5>
                <p>
                  Treatment of disorders of the nervous system. The nervous system is a complex, sophisticated system that regulates and coordinates body activities. It has two major divisions: Central nervous system: the brain and spinal cord.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'chirala-clinic/images/dhruthi-health-care-cardiology-service-icon-50x50.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    Cardiology
                </h5>
                <p>
                  Medical diagnosis and treatment of congenital heart defects, coronary artery disease, heart failure, valvular heart disease and electrophysiology. Physicians who specialize in this field of medicine are called cardiologists, a specialty of internal medicine.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'chirala-clinic/images/dhruthi-health-care-gastro-service-icon-50x50.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    Gastroenterology 
                </h5>
                <p>
                  Gastroenterology is the area of medicine concerned with the normal functioning and disorders of the oesophagus, stomach, small intestine, pancreas, gallbladder, bile ducts, liver, colon and rectum.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'chirala-clinic/images/dhruthi-health-care-orthopedic-service-icon-50x50.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    Orthopedics
                </h5>
                <p>
                  Orthopedic surgery is the branch of medicine concerned with diseases, injuries, and conditions of the musculoskeletal system relating to the body's muscles and skeleton. This includes the joints, ligaments, tendons, and nerves.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'chirala-clinic/images/dhruthi-health-care-urology-service-icon-50x50.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                Urology
                </h5>
                <p>
                  Urology is a part of health care that deals with diseases of the male and female urinary tract (kidneys, ureters, bladder and urethra). It also deals with the male organs that are able to make babies (penis, testes, scrotum, prostate, etc.).
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="btn-box">
          <a href="">
            View All
          </a>
        </div> -->
      </div>
    </div>
  </section>

  <!-- end department section -->
  <section class="ftco-section  mb-45pt-5 pb-5 " style="background-image: linear-gradient(to right,rgb(45,73,96)  20%,rgb(1,170,129) 80% );">
    <div class="container">
        <div class="row justify-content-center pt-5 mb-5 pb-2">
            <div class="heading_container heading_center" style="color: whitesmoke;">
                <h2 >
                  Our specialist
                </h2>
                <p>
                
                </p>
              </div>
    </div>
        <div class="ftco-departments">
                <div class="row">
        <div class="col-md-12 nav-link-wrap">
            <div class="nav nav-pills d-flex justify-content-center aligen-items-center text-center history-doctor" id="v-pills-tab" role="tablist" aria-orientation="vertical">

              <a class="nav-link ftco-animate active sm-mt-4"  id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true" style="color: whitesmoke;">General Medicine</a>

              <a class="nav-link ftco-animate sm-mt-4" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="true" style="color: whitesmoke;">Neurology</a>

              <a class="nav-link ftco-animate sm-mb-4" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Cardiology</a>

              <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">GASTRO</a>

              <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Orthopedic</a>

              <a class="nav-link ftco-animate" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false">Urology</a>

            </div>
          </div>
          <div class="col-md-12 tab-wrap">
            
            <div class="tab-content  p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                  <div class="row departments">
                      <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                          <div class="img d-flex align-self-stretch">
                            <img src="{% static 'chirala-clinic/images/dhruthi-health-clinic-ceo-image-425x400.png' %}" alt="">
                          </div>
                      </div>
                      <div class="col-lg-8 doctor-about">
                        <div class="mt-5 doctor-content">
                            <h2>Dr. Revuri Hari krishna</h2>
                            <span class="mb-5">MD (Gen.medicine)</span>
                            <p class="mt-3">Dr. Revuri Hari Krishna, MD (Gen. Medicine), is a renowned and experienced general physician in Guntur. He brings with him an experience of 10+ years, and he is proficient in evaluating and treating infectious as well as chronic issues such as hypertension, diabetes, and thyroid abnormalities. He provides patient, scientific solutions to your problems while upholding the highest professional and ethical standards.</p>
                        </div>          
                      </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                  <div class="row departments">
                      <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                          <div class="img d-flex align-self-stretch">
                            <img src="{% static 'chirala-clinic/images/dummy-doctor-male.png' %}" alt="">
                          </div>
                      </div>
                      <div class="col-md-8 doctor-about">
                        <div class="mt-5 doctor-content">
                          <h2>DR. S ANJANEYULU</h2>
                          <span class="mb-5">MD DM(Neurology)</span>
                          <p class="mt-3">Dr. S Anjaneyulu MD DM(Neurology) is a highly accomplished doctor and a leading Neurophysician in the field. His career has spanned more than two decades, and during this time he has had the privilege of providing both comprehensive and advanced medical care to his patients. As such, Dr. Anjaneyulu has been highly sought after for his expertise in neurology and has become a trusted healthcare professional among members of the medical community.</p>
                          </div>              
                          <!-- <div class="row mt-5 pt-2">
                                            <div class="col-lg-6">
                                                <div class="services-2 d-flex">
                                                    <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                                                    <div class="text">
                                                        <h3>Primary Care</h3>
                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="services-2 d-flex">
                                                    <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                                                    <div class="text">
                                                        <h3>Lab Test</h3>
                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="services-2 d-flex">
                                                    <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                                                    <div class="text">
                                                        <h3>Symptom Check</h3>
                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="services-2 d-flex">
                                                    <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                                                    <div class="text">
                                                        <h3>Heart Rate</h3>
                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                  <div class="row departments">
                      <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                          <div class="img d-flex align-self-stretch">
                            <img src="{% static 'chirala-clinic/images/doctor-female-img.png' %}" alt="">
                          </div>
                      </div>
                      <div class="col-md-8 doctor-about">
                        <div class="mt-5 doctor-content">
                          <h2>DR. ARAVA TIRUMALA NARESH</h2>
                          <span class="mb-5">MD DM(Cardiology)</span>
                          <p class="mt-3">Dr. M. Tirumala Naresh Arava, MD, DM one of the few interventional cardiologists in the nation with more than 1,000 complex angioplasty procedures performed with a very high success rate. More than 50 device closures for ASD, VSD, and PDA ,200 TEEs have been performed, and cardiac pacing and devices like the CRT and ICD for treating heart failure and sudden cardiac death are Additionally, he has conducted a great deal of study on stem cell therapy failure, which has aided several individuals all around the world.</p>
                                </div>        
                                
                      </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                  <div class="row departments">
                      <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                          <div class="img d-flex align-self-stretch">
                            <img src="{% static 'chirala-clinic/images/dummy-doctor-male.png' %}" alt="">
                          </div>
                      </div>
                      <div class="col-md-8 doctor-about">
                        <div class="mt-5 doctor-content">
                          <h2>DR. ANNAM RAMBABU</h2>
                          <span class="mb-5">MBBS, MS(Gastroenterology) </span>
                          <p class="mt-3">Dr. Annam Rambabu is an accomplished healthcare professional specializing in MS(Gastroenterology)and has a wealth of knowledge and experience in MS(Gastroenterology) this field for more than 15 years. His dedication to the profession is manifested through his successful management of many complex diseases pertaining to MS(Gastroenterology professionals and is an invaluable asset to the healthcare community.</p>
                            </div>              
                          
                      </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
                  <div class="row departments">
                      <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                          <div class="img d-flex align-self-stretch" >
                            <img src="{% static 'chirala-clinic/images/doctor-female-img.png' %}" alt="">
                          </div>
                      </div>
                      <div class="col-md-8 doctor-about">
                        <div class="mt-5 doctor-content">
                          <h2>DR. RAMINENI HEMANTH KUMAR </h2>
                          <span class="mb-5">MBBs, MS (Orthopedics)</span>
                          <p class="mt-3">Dr. Ramineni Hemanth Kumar Orthopaedic surgeon, a specialist in Spine surgeries, Trauma care Fractures, and Joints ailment treatment. He has more than 20+ years of experience in the field of orthopedics. He has mastered several techniques and gained expertise in an array of orthopedic surgical procedures in his decade-long career..</p>
                            </div>           
                            
                      </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-day-6-tab">
                <div class="row departments">
                    <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                        <div class="img d-flex align-self-stretch">
                            <img src="{% static 'chirala-clinic/images/dummy-doctor-male.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 doctor-about">
                        <div class="mt-5 doctor-content">
                        <h2>DR. SRIKANTH PENTYALA</h2>
                        <span class="mb-5">MBBS, MS( General Surgery), Mch (Urology)</span>
                        
                        <p class="mt-3">Dr. Srikanth Pentyala one of the top urologists in the city of Guntur with 10+ years of experience offers world-class urological care for a variety of conditions, including kidney stones, challenges with male infertility, and urogynecological conditions. A person's general health has a significant impact on urological health. In the discipline of urology, it is crucial to comprehend the body's health and offer a treatment plan based on a range of aspects.</p>
                        </div>          
                        
                    </div>
                </div>
            </div>

            </div>
          </div>
        </div>
    </div>
    </div>
</section>
    
  <!-- doctor section -->

  <!-- <section class="doctor_section layout_padding" id="departments" style="background-color: rgb(249, 250, 250););">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <div>
          <div class="col-md-3 d-flex align-items-center appoint-btn">
            <p class="mb-0 mt-5"><a href="/#booking" class="btn btn-success px-4 py-3">Book Appointment</a></p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end doctor section -->
    <!-- start banner section -->
  <section class="ftco-intro" style="background-image: url(/static/chirala-clinic/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 ">
          <h2>Follow Us On Social Media</h2>
          <p class="mb-0">Your Health is Our Top Priority with Comprehensive, Affordable medical.</p>
          
        </div>
        <div class="enquery-social-link mt-3">
          <div>
            <!-- <h3>Follow Us On  We Provide Best Health Care < </h3> -->
          </div>
          <div>
            <a href="https://www.facebook.com/dhruthihospital/"><i class="bi bi-facebook"></i></a>
          </div>
          <div>
            <a href="https://twitter.com/dhruthihospital?lang=en"><i class="bi bi-twitter px-2"></i></a>
          </div>
          <div>
            <a href="https://www.instagram.com/dhruthihealthcare/"><i class="bi bi-instagram px-2"></i></a>
          </div>
          <div>
            <a href="https://www.youtube.com/@dhruthihospital-generalhos8244/featured"><i
                class="bi bi-youtube px-2"></i></a>
          </div>

        </div>
        <!-- <div class="col-md-3 d-flex align-items-center appoint-btn">
          <p class="mb-0 mt-5"><a href="/#booking" class="btn btn-success px-4 py-3">Book Appointment</a></p>
        </div> -->
      </div>
    </div>
  </section>
  <!-- end banner section -->

  <!-- contact section -->
  <section class="contact_section layout_padding" id="contact">
    <div class="container">
      <div class="heading_container">
        <h2 style="color: #006B94;">
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container contact-form">
            <form action="" class="chirala-clininc">
              <div class="form-row">
                <div class="col-lg-6">
                  <div>
                    <input type="text"  class="form-control" placeholder="Your Name" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div>
                    <input type="text" class="form-control"  placeholder="Phone Number" />
                  </div>
                </div>
              </div>
              <div>
                <input type="email"  class="form-control" placeholder="Email" />
              </div>
              <div>
                <input type="text"  class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15354.21596309517!2d80.356706!3d15.8274545!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a450c1163a25d%3A0x4f84b8402d2a64de!2sDhruthi%20Super%20Speciality%20Clinics!5e0!3m2!1sen!2sin!4v1671510823300!5m2!1sen!2sin"
              width="100%" height="450px" style="border: 0px;;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- end client section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              Dhruthi Super Specialty Clinics is a new state-of-the-art medical facility in Chirala. It was opened and run by a special team of doctors that specialize in different departments including (General Medicine, Cardiology, Neurology, Urology, Orthopedics and Gastroenterology.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Chirala, Church Road, Chirala
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +91 9858 190 190
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  dhruthihospital@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links d-block">
              <a class="active" href="/">
                Home
              </a>
              <a class="" href="#about">
                About
              </a>
              <a class="" href="#">
                why Choose Us
              </a>
              <a class="" href="#">
                Doctors
              </a>
              <a class="" href="#">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col ">
          <h4>
            social Links
          </h4>
          <div class="footer_social fallow-social">
            <a href="https://www.facebook.com/dhruthihospital/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/dhruthihospital?lang=en">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/@dhruthihospital-generalhos8244/featured">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/dhruthihealthcare/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <div class="d-flex align-items-center" >
            <p class="mb-0 mt-5"><a href="/#booking" class="btn btn-warning px-4 py-3" style="color: rgb(24, 23, 23); font-weight:700;">Book Appointment</a></p>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="/">DhruthiHealthCare<br><br></a>
        </p>
       
      </div>  
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="{% static 'chirala-clinic/js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'chirala-clinic/js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'chirala-clinic/js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>