{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dr Revuri hari krishna Portfolio</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <!-- Template Stylesheet -->
        <link href="{% static 'revuriharikrishna/css/style.css' %}" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
      


        <!-- Hero Start -->
         <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p>I'm</p>
                                <h2></h2>
                                <h1 class="typed-text">Dr.Revuri Hari krishna</h1> 
                                <p>M D (General Medicine)</p>
                               
                                <!-- <div >Web Designer, Web Developer, Front End Developer, Apps Designer, Apps Developer</div> -->
                             </div> 
                            
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-6  d-md-block">
                        <div class="hero-image">
                            <img src="{% static 'revuriharikrishna/img/DrRevuriharikrishna-portfoilopage-topbannerimage-415x600.png' %}" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Hero End -->


        
        <section class="space-top space-extra-bottom">
            <div class="container mt-5">
               
                <div class="row gx-60">
                    <div class="col-lg-5 pb-10">
                        <!-- <div class="team-box__img"><img src="{% static 'chirala-clinic/images/chirala-hosptial-about-img430x400.png' %}" alt="Team image">
                            <div class="team-box__overlay"></div>
                        </div> -->
                       
                        <h3 class="team-box__name mt-3" style="color:#11769B;">Dr.Revuri Hari Krishna</h3>
                        <span class="team-box__degi mb-5 pb-3"  style="color: #0BAD80;font-weight:600;">M.D(General Medicine)</span>
                        <h6 class="team-box__name mt-1" style="color:#11769B; font-weight:600;">Managing Director Dhruthi Healthcare</h6>
                        
                        <div class="team-info shadow bg-body rounded mt-2">
                            <h4 class="team-info__title">Education Qualifications</h4>
                            <p class="team-info__text">MD(General Medicine)  2008, Manipal Academy of Higher Education </p>
                        </div>
                        <div class="team-info shadow  bg-body rounded">
                            <h4 class="team-info__title">Specialization</h4>
                            <p class="team-info__text">General Medicine</p>
                        </div>
                        <div class="team-info shadow  bg-body rounded">
                            <h4 class="team-info__title">Memberships</h4>
                            <p class="team-info__text">Clincal infectious Disease Society(CIDS)</p>
                            <p class="team-info__text">International Society of Infectious Diseases(ISID)</p>
                            <p class="team-info__text">International Diabetic Federation</p>
                        </div>
                    </div>
                    <div class="col-lg-7 mt-20 mt-lg-0 mt-5" style="display:flex;flex-direction:column;justify-content:center;">
                        <h2 class="inner-title-style2 mt-n2 mb-2 pb-1" >Introduction</h2>
                        <p class="mb-4 pb-2" style="text-align: justify;">Myself Dr. Revuri Hari Krishna extremely committed and passionate doctor in General Medicine. Post completing my graduation and MD (internal medicine), I started my career as a faculty in NRI medical college. I am proficient in evaluating and treating infectious as well as chronic issues such as hypertension, diabetes and thyroid abnormalities. One of the best general medicine doctors in Guntur, and an active participant in various 
                            national and international medical societies and also in academic research activities</p>
                        <!-- <div class="skill-bar">
                            <h4 class="skill-bar__title">General Medicine</h4><span class="skill-bar__number">100%</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div> -->
                        <!-- <div class="skill-bar">
                            <h4 class="skill-bar__title">Dental Surgery</h4><span class="skill-bar__number">64%</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 64%" aria-valuenow="64"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div> -->
                        <p class="pt-3 mb-3 pb-3" style="text-align: justify;">I have established Dhruthi Hospital one of the best general hospital in guntur which is providing best general 
                            medicine in Guntur City with its core principle as patient welfare and quick recovery.</p>
                        <div class="check-list style4 pt-1 mb-5 pb-1">
                            <ul>
                                <li style="text-align: justify;">I has extensive experience of 10-15 years as a renowned doctor and has the capacity to evaluate root cause of the patient problems</li>
                                <li style="text-align: justify;">I was an exceptionally compassionate doctor and available 24/7 for patient welfare.</li>
                                
                            </ul>
                        </div>
                        <!-- <h4 class="inner-title-style3">Skills</h4> -->
                        <!-- <div class="vs-tag-block"><a href="#">Dental Implants</a> <a href="#">Medicine</a> <a href="#">Filling
                                Content</a> <a href="#">Dentist</a> <a href="#">Neurology</a> <a href="#">Root Canal</a></div> -->
                        <!-- <div class="row gx-20 mb-30 " style="background-color: aquamarine; height:350px">
                            <div class="d-flex justify-content-center align-items-center">
                                <div>
                                    <button class="btn btn-primary"><a href="http://127.0.0.1:8000/#booking" style="color: white;">Book Appointment</a></button>
                                 </div>
                            </div>
                          
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        



        <!-- About Start -->
         <div class="about wow fadeInUp mt-5" data-wow-delay="0.1s" id="about">
            <div class="container">
                <h2 class="text-center title mb-4">About Dhruthi</h2>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{% static 'revuriharikrishna/img/about-dhruthi.png' %}" style="border-radius: 6px;" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            
                            <div class="about-text">
                                <p style="text-align: justify;">
                                    About Dhruthi Hospital, from starting out as a vision of one man’s dream to the reality of revolutionizing the healthcare industry, we are proud to be the flag bearers of this paradigm shift with our clinical excellence, patient-centricity, and ethical practices integral to healthcare.
                                </p>
                                <p style="text-align: justify;">
                                    At Dhruthi Hospitals, we are devoted towards clinical excellence, patient-centricity, and ethical practices. Our commitment to clinical excellence is palpable in the high caliber of our team of medical practitioners. Our nursing staff and paramedical professionals are highly competent and provide great support to our clinical team Our healthcare services are aligned towards our patients’ needs
                                </p>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- About End -->
         <!-- Experience Start -->
        <div class="experience  pt-5" id="experience" >
            <div class="container  ">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    
                    <h2 class="title" style="font-weight: 600;font-size: 2rem;">Our Branches</h2>
                </header>
                 <!--<div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2018</div>
                            <img src="{% static 'revuriharikrishna/img/hospital-image.png' %}"  class="branches" alt="Image">
                            <h4 class="text-center mt-2" style="font-family:roboto; font-weight:600;">Lakshmipuram</h4>
                            <h6 class="text-center" style="color:#11769B;font-weight: 600;">
                               Guntur
                            </h6>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2020</div>
                            <img src="{% static 'revuriharikrishna/img/kothapet-image.png' %}" class="branches"  alt="Image">
                            <h4 class="text-center mt-2" style="font-family:roboto; font-weight:600;">Kothapet</h4>
                            <h6 class="text-center" style="color:#11769B;font-weight: 600;">
                               Guntur
                            </h6>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2022</div>
                            <img src="{% static 'revuriharikrishna/img/chruch-image.png' %}" class="branches"  alt="Image">
                            <h4 class="text-center mt-2" style="font-family:roboto; font-weight:600;">Churuch Road</h4>
                            <h6 class="text-center" style="color:#11769B;font-weight: 600;">
                               chirala
                            </h6>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2021</div>
                            <img src="{% static 'revuriharikrishna/img/inkollu-image.png' %}" class="branches" alt="Image">
                            <h4 class="text-center mt-2" style="font-family:roboto; font-weight:600;">RamMandir Road</h4>
                            <h6 class="text-center" style="color:#11769B;font-weight: 600;">
                               Inkollu
                            </h6>
                        </div>
                    </div>
                    
                    
                </div> -->
                <section class=" pb-0  " id="timeline">
                    
                    <div class="container mb-0">
                      <div class="row">
                        <div class="timeline">
                          <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                            <div class="col-9  col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg"
                              data-aos="fade-left" data-wow-delay="0.6s">
                              <img src="{% static 'images/dh-images/dhruthi-hospital-timeline-card-399x190.png' %}"
                                class="timeline-card" />
                              <h2 class="mt-3" style="font-weight: 600;">Lakshmipuram</h2>
                              <h5 style="color:#006d95 ;font-weight:400;">Guntur</h5>
                              <div class="loaction-view mt-2">
                                <a
                                  href="https://www.google.com/maps/place/Dhruthi+Clinics/@16.3103323,80.4313497,17z/data=!4m5!3m4!1s0x0:0x14d802faf04d4dab!8m2!3d16.3104884!4d80.4316011?hl=en"><button
                                    class="btn-test btn-md me-3">Get Directions</button></a>
                                <a href="https://www.dhruthiclinics.com/"><button class="btn-test ">More Info</button></a>
                              </div>
                            </div>
                            <div class="col-3  col-sm-1 order-1 timeline-icons text-md-center">
                              <i class="bi bi-calendar-check timeline-icon"></i>
                            </div>
              
                            <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                              <time class="time-text">2018</time>
                            </div>
                          </div>
                         
              
              
                          <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                            <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg  wow"
                              data-aos="fade-right" data-wow-delay="0.6s">
                              <img src="{% static 'images/dh-images/dhruthi-hospitals-kothapet-branch-200x150.png' %}"
                                class="timeline-card" />
              
                              <h2 class="mt-3"style="font-weight: 600;">Kothapet</h2>
                              <h5 style="color:#006d95 ;font-weight:400;">Guntur</h5>
                              <div class="loaction-view mt-2">
                                <a
                                  href="https://www.google.com/maps?ll=16.295203,80.449945&z=10&t=m&hl=en-US&gl=US&mapclient=embed&cid=7550184175581018102"><button
                                    class="btn-test  me-3">Get Directions</button></a>
                                <a href="https://dhruthihospital.com/dhruthi-hospitals/"><button class="btn-test">More Info</button></a>
                              </div>
                            </div>
              
                            <div class="col-3 col-sm-1 order-1 timeline-icons text-md-center">
                              <i class="bi bi-calendar-check timeline-icon"></i>
                            </div>
              
                            <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                              <time class="time-text">2020</time>
                            </div>
                          </div>
              
                          
              
                          
                          <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4 ">
                            <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg  wow "
                              data-aos="fade-right" data-wow-delay="0.6s">
                              <img src="{% static 'images/dh-images/dhruthi-hospital-timeline-card-399x190.png' %}"
                                class="timeline-card" />
              
                              <h2 class="mt-3" style="font-weight: 600;">RamMandir Road</h2>
                              <h5 class="mb-3 pb-0" style="color:#006d95 ;font-weight:400;">Inkollu</h5>
                              <div class="loaction-view mt-2">
              
                                <button class="btn-test btn-md me-3 ">Get Directions</button>
                                <button class="btn-test">More Info</button>
                              </div>
                            </div>
              
                            <div class="col-3 col-sm-1 order-1 timeline-icons text-md-center">
                              <i class="bi bi-calendar-check timeline-icon"></i>
                            </div>
              
                            <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                              <time class="time-text">2021</time>
                            </div>
                          </div>
                          <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes ">
                            <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg  wow"
                              data-aos="fade-left" data-wow-delay="0.6s">
                              <img src="{% static 'images/dh-images/dhruthi-hospital-main-page-doctors-image-1024x266 (1).webp' %}"
                                class="branches"  />
                              <h2 class="mt-3" style="font-weight: 600;">Opp Mohan Theatre</h2>
                              <h5 style="color:#006d95 ;font-weight:400;">Chirala</h5>
                              <div class="loaction-view mt-2">
                                <a
                                  href="https://www.google.com/maps/place/Dhruthi+Super+Speciality+Clinics/@15.827449,80.356713,14z/data=!4m5!3m4!1s0x0:0x4f84b8402d2a64de!8m2!3d15.8274486!4d80.3567134?hl=en">
                                  <button class="btn-test btn-md me-3">Get Directions</button></a>
                                <a href="http://127.0.0.1:8000/chirala/"><button class="btn-test">More Info</button></a>
                              </div>
                            </div>
              
                            <div class="col-3 col-sm-1 order-1 timeline-icons text-md-center">
                              <i class="bi bi-calendar-check timeline-icon"></i>
                            </div>
              
                            <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                              <time class="time-text">2023</time>
                            </div>
                          </div>
                        </div>
              
                      </div>
                    </div>
                  </section>

            </div>
        </div>
        
        <!-- Job Experience End -->
        
        
        <!-- Banner Start -->
        <div class="banner wow zoomIn "  data-wow-delay="0.1s">
            <div class="container" style="display:flex; justify-content:center;align-items:center;flex-wrap: wrap;">
                <div class="section-header col-lg-6 col-12" style="display: flex;justify-content: center;align-items: center;">
                  <h3 class="text-white title mt-4" style="font-size:3rem;">Follow us on </h3>
                </div>
                 <div class="team-social col-lg-6 col-12" style ="flex-wrap: wrap;">
                    <a class="" href=""><i class="fab fa-twitter" style="color: rgb(192, 224, 228) !important;
                        filter: drop-shadow(0 20px 10px rgb(15, 15, 15));font-size: 40px !important;padding-left: 25px !important;"></i></a>
                    <a class="" href="https://www.facebook.com/dhruthihospital/"><i class="fab fa-facebook-f" style="color: rgb(0, 110, 255) !important;
                        filter: drop-shadow(0 20px 10px rgb(15, 15, 15));font-size: 40px !important;
    padding-left: 25px !important;"></i></a>
    <a class="" href="https://www.instagram.com/dhruthihealthcare/"><i class="fab fa-instagram" style="color:  rgb(228, 58, 6) !important;
        filter: drop-shadow(0 20px 10px rgb(15, 15, 15));font-size: 40px !important;
padding-left: 25px !important;"></i></a>
                    <a class="" href="https://www.facebook.com/dhruthihospital/"><i class="fab fa-linkedin-in" style="color: rgb(0, 110, 255) !important;
                        filter: drop-shadow(0 20px 10px rgb(15, 15, 15));font-size: 40px !important;
    padding-left: 25px !important;"></i></a>
                    
                </div>  
               
                
            </div>
        </div>
        
        <!-- Banner End -->


        <!-- Portfolio Start -->
        <div class="portfolio" id="portfolio">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    
                    <h2 class="title" style="font-weight: 600;font-size: 2rem;"> Portfolio</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="portfolio-filter">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-1">Awards</li>
                            <li data-filter=".filter-2">News&Media</li>
                            <li data-filter=".filter-3">Achievements</li>
                        </ul>
                    </div>
                </div>
                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-4 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{% static 'revuriharikrishna/img/Dhruthi-hospital-awards-and-recognations-page-times-icons-of-healthcare-award-2022-image.jpg' %}" alt="Image">
                            </div>
                             <div class="portfolio-text">
                                 <h3 style="text-align: center;">Times icon of healthcare</h3>
                               
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{% static 'revuriharikrishna/img/drrevuriharikrishna-portofoilo-award-385x260-.png' %}" alt="Image">
                            </div>
                             <div class="portfolio-text">
                                <h3 style="text-align: center;">IMA tenali</h3>
                               
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{% static 'revuriharikrishna/img/drrevuriharikrishna-portfoilo-physicians-385x260.png' %}" alt="Image">
                            </div>
                             <div class="portfolio-text">
                                <h3 style="text-align: center;">National physician's day </h3>
                                
                            </div> 
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4 col-md-4 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{% static 'revuriharikrishna/img/drrevuriharikrishna-portfoilo-newsevents385x260.png' %}" alt="Image">
                            </div>
                             <div class="portfolio-text">
                                <h3 style="text-align: center;">National physician's day </h3>
                                
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{% static 'revuriharikrishna/img/drrevuriharikrishna-portfoilo-common-infection-disese-385x260.png' %}" alt="Image">
                            </div>
                             <div class="portfolio-text">
                                <h3 style="text-align: center;">1st CME On Infectious Diseases </h3>
                               
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="1s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{% static 'revuriharikrishna/img/inguration.png' %}" alt="Image">
                            </div>
                             <div class="portfolio-text">
                                <h3 style="text-align: center;">1st CME On Infectious Diseases</h3>
                               
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio End -->
        
        


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Dr. Revuri Hari Krishna</h2>
                        <!-- <h3>123 Street, New York, USA</h3> -->
                        <div class="footer-menu">
                            <a href="tel:+919858190190">+9198581 90190</a>
                            <a>drharirevuri@dhruthihealthcare.com</a>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/dhruthihospital/"><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/dhruthihealthcare/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/revuri-hari-krishna-33a31814b/?originalSubdomain=in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#">CopyRights</a> All Right Reserved | Designed By <a>Dt7 Solutions</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <!-- <div id="loader" class="show">
            <div class="loader"></div>
        </div> -->

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'revuriharikrishna/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'revuriharikrishna/lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'revuriharikrishna/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'revuriharikrishna/lib/typed/typed.min.js' %}"></script>
        <script src="{% static 'revuriharikrishna/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'revuriharikrishna/lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'revuriharikrishna/lib/lightbox/js/lightbox.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'revuriharikrishna/mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="mail/contact.js"></script> 

        <script>
            new WOW().init();
          </script>

        <!-- Template Javascript -->
        <script src="{% static 'revuriharikrishna/js/main.js' %}"></script>
    </body>
</html>
